html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    color: #6B8C46;
}

.navbar-custom{
    background-color: lightgreen;
}


.navtext{
    font-size: 20px;
    font-weight: 400;
    
}
.carousel-heading{
    padding-bottom: 30px;
    text-align: center;
}
.carousel-text{
    padding:30px 30% 40px;
    text-align: center;
    font-size: 20px;
}
.carousel-img{
    
    margin: auto;
    display: block;
    height: 200px;
    width:350px;
    border-radius: 50%;
}